<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nxmu.mapper.PasswordResetMapper">
  <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from password_reset
    where user_name = #{userName,jdbcType=VARCHAR}
    and is_del = 0
  </select>

  <insert id="initPasswordReset" parameterType="com.nxmu.model.PasswordReset">
    insert into password_reset (user_name, sid,
      out_time)
    values (#{userName,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR},
      #{outTime,jdbcType=BIGINT})
  </insert>

  <update id="delPasswordReset" parameterType="com.nxmu.model.PasswordReset">
    update password_reset
    set is_del = #{isDel,jdbcType=BIT}
    where user_name = #{userName,jdbcType=VARCHAR}
  </update>
</mapper>